.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.iconStyle {
    width: 1.3rem;
    margin: 0.5rem 1rem;
    transition: all 0.5s;
}

.iconStyle:hover {
    filter: brightness(60%);
}