.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #303135;
    width: 100%;
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-bottom: env(safe-area-inset-bottom);
}

@media (max-width: 800px) {
    .navbar {
        justify-content: center;
    }
}

.iconStyle {
    width: 1.3rem;
    margin: 0.5rem 1rem;
    background: none !important;
}

.iconStyle:hover {
    filter: brightness(60%);
}

.iconStyle {
    transition: filter 0.5s;
}