html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #303135;
  color: white;
}

blockquote {
  border-left: 5px solid peru;
  padding-left: 10px;
}

code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.5;
  font-size: 13px;
  display: block;
  background-color: slategray;
  overflow: hidden;
  border-radius: 5px;
  padding: 2px;
}

.post-content img {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 25px;
  background: white;
}

* {
  box-sizing: border-box;
}

a {
  color: peru;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.qr {
  background: white;
}